<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Timely | Increase your productivity</title>
    <!-- Bootstrap core CSS -->

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/docs.min.css" rel="stylesheet" />
    <link href="~/Content/css/shCoreDefault.css" rel="stylesheet" />
    <link href="~/Content/css/custom.min.css" rel="stylesheet" />
</head>

<!--[if lt IE 9]>
    <script src="../assets/js/ie8-responsive-file-warning.js"></script>
<![endif]-->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<body class="nav-md">
    <div class="container body login_container">
        <div class="main_container">

            <!-- page content -->
            <div class="right_col" role="main" style="padding-right: 0">
                <div class="content_pane col-md-5" style="height: 100%; float: right;    padding: 150px 35px 80px 35px; background-color: rgb(178, 235, 242);">
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->

        </div>
    </div>

    <!-- jQuery -->
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Scripts/custom.min.js"></script>
</body>

</html>