@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_AppLayout.cshtml";
}

@model ProductivityTracker_Models.ViewModels.Dashboard.AccountInfoViewModel

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<div>
</div>

<div id="accountInfo">
    @Html.Partial("_AccountInfo", Model);
</div>